version: '3.4'

services:
  sql-data-test:
    environment:
      - SA_PASSWORD=Pass@word
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"

  integrationtest.test:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80
      - ConnectionString=Server=sql-data-test;Initial Catalog=integrationtestDb.test;User Id=sa;Password=Pass@word;
    ports:
      - "5101:80"
    entrypoint:
      - dotnet
      - test
      - -c
      - ${BUILD_CONFIGURATION}
      - --no-build
      - --no-restore
      - --logger
      - trx;LogFileName=/tests/services-test-results.trx